# Ignore all files under any data folder
**/data/**

# Keep data files under scripts/data
!scripts/data/
!scripts/data/**

# Ignore local virtual environments
.venv/
venv/

# Ignore Python cache/bytecode files
__pycache__/
*.pyc
*.pyo
